.list-container{
    display: flex;
    flex-direction: inherit;
    justify-content: space-between;
    padding:16px 4px 8px 4px;
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
}
.list-container :hover{
    cursor: pointer;
}
.image{
    width: 60px;
    height:60px;
    margin-right: 16px;
    margin-left: 16px;
}

.content-info{
    display: flex;
    justify-content: flex-start;
}
ul {
    list-style-type: none;
    margin-left: 24px;
}

li{
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.time{
    font-size: 12px;
    color:#878787;
    font-weight: 600;
    margin-right: 10px;
}

.msgtxt{
    font-size: 12px;
    color:#878787;
    font-weight: 600;
    margin-top:8px;
}